openEAR-0.1.0 Kopie/__pycache__/TestDataExtractor2.cpython-311.pyc
openEAR-0.1.0 Kopie/__pycache__/TestDataExtractor2.cpython-311.pyc
openEAR-0.1.0 Kopie/GUI/CustomTkinter/__pycache__/CustomObjects.cpython-311.pyc
openEAR-0.1.0 Kopie/GUI/CustomTkinter/__pycache__/listaudiodevices.cpython-311.pyc
openEAR-0.1.0 Kopie/GUI/CustomTkinter/__pycache__/MiniAppObjects.cpython-311.pyc
openEAR-0.1.0 Kopie/GUI/CustomTkinter/__pycache__/Windows.cpython-311.pyc
openEAR-0.1.0 Kopie/GUI/CustomTkinter/Frames/__pycache__/Archive_Frames.cpython-311.pyc
openEAR-0.1.0 Kopie/GUI/CustomTkinter/Frames/__pycache__/Mini_App_Frames.cpython-311.pyc
openEAR-0.1.0 Kopie/GUI/CustomTkinter/Frames/__pycache__/New_Analysis_Frames.cpython-311.pyc
openEAR-0.1.0 Kopie/GUI/CustomTkinter/Frames/__pycache__/Observer.cpython-311.pyc
openEAR-0.1.0 Kopie/GUI/CustomTkinter/Frames/__pycache__/PieChartFrames.cpython-311.pyc
openEAR-0.1.0 Kopie/GUI/CustomTkinter/Frames/__pycache__/SettingsFrames.cpython-311.pyc
